body{
    padding:0%;
    margin:0%;
    background-color:black;
  }
  #pro-head
  {
    text-align:center;
    background-color:burlywood;
    height:47px;
  }
  #navbar{
    background-color:#daa520;
    display:flex;
    justify-content:center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:74px;
  }
  #nav-list{
    display:flex;
    flex-direction:row;
    gap:67px;
  }
  li{
    padding:12px;
    margin:4px;
    list-style:none;
    background-color:brown;
  }
  a{
    color:#ffffff;
    text-decoration:none;
    font-size:1.0em;
    padding:2rem;
  }
  li:hover{
    background-color:Moccasin;
  }
  #welcome-section{
    background-color:Salmon;
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    font-style:italic;
    font-weight:100;
  }
  h1{
    font-size:6rem;
    color:darkred;
  }
  p1{
    font-size:2rem;
    color:darkred;
  }
  .projects
  {
   height:78%;
   text-align:center;
   background-color:burlywood;
   padding:2rem 1rem; 
  }
  h2
  {
    margin:0;
    font-size:3em;
    color:darkred;
  }
  .project-img
  {
    object-fit:cover;
    height:80%;
    width:100%;
  }
  .project-tile
  {
  color:#ffffff;
  width:100%;
  padding:0em;
  background-color:#303841;
  margin:0px;
  height:5%;
  }
  #project-grid
  {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap:4rem;
  width:100%;
  max-width:1280px;
  margin:0 auto;
  margin-bottom:6rem;
  
  }
  
  #contacts
  {
  font-style:italic;
  background-color:salmon;
  color:white;
  width:96.7vw;
  height:90vh;
  padding:2rem 1rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  align-items:center;
  }
  @media (max-width:700px)
  {
    h2
    {
      font-size:2.5rem;
    }
  }